{{define "dstPage"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <meta name="description" content= "Don't Starve Together">
    <meta name="author" content="thedevilsvoice">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <meta name="keywords" content="HTML, CSS, GoLang">
    <meta name="robots" content= "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href= "/static/games/css/games-navigation.css">
</head>

<body>

  <h1>Don't Starve Together</h1>

  <div class="dontstarve">
      <p>To play on the <a href="https://store.steampowered.com/app/322330/Dont_Starve_Together/">&quot;Dont Starve Together&quot;</a> server, start the game on Steam, then look for the server named &quot;wonderland&quot;</p>
    
      <p><a href="https://github.com/devsecfranklin/game-server-dontstarvetogether">The game server files are in thie Github repository.</a></p>
      
      <h2>Client mods</h2>

      <table>
      <th>Name</th><th>ID</th><th>Notes</th>
        <tr><td><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=351325790">geometric placement</a></td><td>351325790</td><td>&nbsp;</td></tr>
      <tr><td><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=345692228">minimap HUD</a></td><td>345692228</td><td>&nbsp;</td></tr>
      <tr><td><a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1185229307">Epic Health Bar</a></td><td>1185229307</td><td>&nbsp;</td></tr>
      </table>

      <h2>Server Mods</h2>


  </div>

{{template "footer"}}

</body>
</html>
{{end}}
