{{define "FailurePage"}}

{{template "header"}}

<body>

<div class="center">
    <img src="/static/games/images/hacka_please.jpg" alt="yo momma so fat">
</div>

{{template "footer"}}

</body>
</html>
{{end}}