{{define "footer"}}

<p>&nbsp;<p>&nbsp;<p>
<div class="footer" id="footer">
<footer>
  <center>
  [ <a href="/">home</a> ] [ <a href="/minecraft">minecraft</a> ] [ <a href="/dst">dont starve</a> ] [ <a href="/civilization2">civ 2</a> ]
    <br />
    <small><small><small>
    <em>“Indeed, the safest road to Hell is the gradual one—the gentle slope, soft underfoot, without sudden turnings, without milestones, without signposts.” – C. S. Lewis</em> <br />
    <em>Copyright © 2010-2025 bitsmasher.net</em>
    </small></small></small>
  </center>
</footer>
</div>

{{end}}
