{{define "mcInstaller"}}

<!DOCTYPE html>
<html>

<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/web/css/puzzle.css" />
</head>

<body>


{{template "footer"}}

</body>
</html>
{{end}}
