{{define "mcPage"}}

<!DOCTYPE html>
<html>

<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/web/css/puzzle.css" />
</head>

<body>

<h1>History</h1>

<ol>
<li>We have been running a server continuously since about 2012 and had fun mining and building many interesting things.</li>
<li>Note that this is a survival server, not a creative server.</li>
<li>Please don't waste time begging for admins to toggle your gamemode.</li>
</ol>

<h1>Install</h1>

<ol>
<li>install JDK 21 from: https://www.oracle.com/uk/java/technologies/downloads/#java21</li>
<li>install forge from here: https://files.minecraftforge.net/net/minecraftforge/forge/index_1.20.2.html</li>
<li>install Client files from here: https://github.com/devsecfranklin/game-client-minecraft/tree/main/minecraft/mods <br />

In windows u type "%APPDATA%"  in the search bar, then navigate to the "minecraft" folder. 
copy all mod files from github to your local minecraft mods folder.
</li>
<li>Join Server:: 143.244.182.73:25565</li>
</ol>

<h1>mods</h1>

<h2>Botania</h2>

Botania is a mod centered around generating and harnessing the magical energy produced by mystical flowers. Botania's documentation book, the Lexica Botania, displays crafting recipes and explains nearly everything about Botania in-game.<br />

<h2>Modnomicon</h2>

<p>
This is <a href="https://github.com/klikli-dev/modonomicon">Data-driven minecraft in-game documentation with progress visualization</a>
</p>

<h2>Occultism</h2>

The first goal is to obtain the Dictionary of Spirits, an in-game guide with information about all spirits,
rituals and pentacles, as well as an in-depth getting started guide.<br />
Demon's Dream seeds are seeds used to grow the Demon's Dream fruits. They are a rare drop from grass, similar to vanilla Wheat seeds.<br />

<ol>
<li>Obtain Demon's Dream Seeds by breaking grass. Keep one and plant a few others.</li>
<li>Combine the seeds with a book to create the dictionary</li>
<li>Read the Getting Started section of the book to learn about the Third Eye, Demon's Dream, and Spiritfire</li>
<li>Make a stick of Chalk, clear out some floor space, and start drawing some Pentacles</li>
<li>Conduct your first ritual and meet a demon</li>
</ol>

<h2>Thermal Series</h2>

Thermal Innovation<br />

<h1>Mapping</h1>

<h2>Unmined</h2>

<p>
There is a shell script `/home/minecraft/bin/unmined.sh` that can be used to generate the map files.<br />
It writes output to `/var/www/html/` unless you change the default.
</p>

<h1>AI stuff</h1>

{{template "footer"}}

</body>
</html>
{{end}}
