{{define "mcPage"}}

<!DOCTYPE html>
<html>

<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/web/css/puzzle.css" />
</head>

<body>

<ol>
<li>We have been running a server continuously since about 2012 and had fun mining and building many interesting things.</li>
<li>Note that this is a survival server, not a creative server.</li>
<li>Please don't waste time begging for admins to toggle your gamemode.</li>


<h1>mods</h1>

<h2>automodpack</h2>

/amp is an alias for /automodpack.

<table>
<tr><td></td><td></td><td></td></tr>
/automodpack - Status of automodpack and general help.
/automodpack generate - Generate modpack.
/automodpack host - Status of modpack hosting.
/automodpack host start - Start modpack hosting.
/automodpack host stop - Stop modpack hosting.
/automodpack host restart - Restart modpack hosting.
/automodpack host connections - Lists all currently active modpack host connections.
/automodpack host fingerprint - Get the certificate fingerprint of the modpack host.
/automodpack config reload - Reload config files.

<h2>modnomicon</h2>

<p>
This is <a href="https://github.com/klikli-dev/modonomicon">Data-driven minecraft in-game documentation with progress visualization</a>
</p>


AI stuff 

{{template "footer"}}

</body>
</html>
{{end}}
