{{define "navigation"}}

<div class="navigation" id="navigation">
    <center>
    <ul>
        <li><a href="/">home</a></li>
        <li><a href="/civilization2">Civilization ][</a></li>
        <li><a href="/dst">Dont Starve</a></li>
        <li><a href="/linux_games">Linux Games</a></li>
        <li><a href="/minecraft">Minecraft</a></li>
        <li><a href="/puzzle1">Puzzle number one</a></li>
        <li><a href="/puzzle2">Puzzle number two</a></li>
        <li><a href="/scoreboard">Scoreboard</a></li>
        <li><a href="https://github.com/devsecfranklin/game-xpacman">xpacman</a></li>
    </ul>
    <p>
    <a href="/login"><img src="/static/games/images/login-button.png" height="55" width="146"></a>
    </center>
</div>

{{end}}