{{define "puzzle5Page"}}

{{template "header"}}

<body>



{{template "footer"}}

</body>
</html>

{{ end }} 

<!--
{
    "name": "puzzle5",
    "location": "https://games.bitsmasher.net/puzzle5",
    "flag": "there totally is one! really!"
}
-->
