{{define "puzzle3Page"}}

{{template "header"}}

<body>

    <div class="puzzle">
        <div class="center">
            <h2>Time to log in to the Network</h2> <br />
            <img src="/static/games/images/archie1.jpg" alt="Made with vi on an IBM 8088"><br />
            <em>“Indeed, the safest road to Hell is the gradual one—the gentle slope, soft underfoot, without sudden turnings, without milestones, without signposts.” – C. S. Lewis</em> <br />
        </div>
   </div>

    <h3>Download git repository</h3>

1. clone the repo
https://github.com/devsecfranklin/eternal-torment



{{template "footer"}}

</body>
</html>

{{end}}

<!--
{
    "name": "puzzle3",
    "location": "https://games.bitsmasher.net/puzzle3",
    "flag": "there totally is one! really!"
}
-->
