{{define "puzzle2Page"}}

{{template "header"}}

<body>
    <div class="center">
    <h1>PUZZLE2: Time to log in to the Network</h1> <br />

    <img src="/static/games/images/Dilbert-Unix-comic.png" alt="Made with vi on an IBM 8088"><br />
    </div>

    <p>
    <div class="puzzle" id="puzzle2-1">
<div class="center">
    <h3>Challenge 1: Log in with your SSH key</h3>

    <ul>
        <li>Your home directory is already mounted with all your files.</li>
        <li>The public half of your SSH key is already in /home/sly/.ssh/authorized_keys</li>
        <li>Your first challenge is to log in via SSH to your shell account.</li>
        <li>The hostname is &quot;node2&quot; and the IPv4 address is &quot;10.10.12.2&quot;</li>
    </ul>
    <p>It may make sense for you to copy the private half or your SSH keys into ~/.ssh on the network. If you
    are worried about security, you can make a new key pair solely for lab use. 
    <p>When you log in and find the first flag, enter it in the box below.
    <p>Good luck!

    <form action="/submission" method="get">
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Puzzle</th>
                <th>Flag</th>
            </tr>

            <tr>
                <td>June 09, 2025</td>
                <td>Puzzle2 <input type="hidden" name="puzzle" value="puzzle2-1"></td>                
                <td>Flag: <input type="text" name="flag" placeholder="probably-wrong"></td>
            </tr>

        </table>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
<div class="center">
    <div class="puzzle" id="puzzle2-2">
    <h3>Challenge 2: Obtain a Kerboeros ticket</h3>

    To help with managing users and credential security, we use <a href="https://web.mit.edu/Kerberos/">a network authentication protocol called Kerberos</a>
    <p>
    Now that you are logged in to your shell, you are ready to
    <a href="https://web.mit.edu/Kerberos/krb5-latest/doc/user/tkt_mgmt.html#obtaining-tickets-with-kinit">obtain your first set of Kerberos credentials</a>.
    This will help you navigate around the network without having to type your password over and over. A Kerberos ticket is also useful
    when you need to elevate your priviliges on a host.
    <p>
    Use the &quot;kinit&quot; command to obtain a ticket. You can check if you did it right by running the tool in your home folder called &quot;check_ticket&quot;
    <p>
    <em>HINT: your passwd for user &quot;sly&quot; was set to 123 the other day</em>

    <form action="/submission" method="get">
        <table border="1">
            
            <tr>
                <th>Date</th>
                <th>Puzzle</th>
                <th>Flag</th>
            </tr>

            <tr>
                <td>June 09, 2025</td>
                <td>Puzzle2 <input type="hidden" name="puzzle" value="puzzle2-2"></td>                
                <td>Flag: <input type="text" name="flag" placeholder="probably-wrong"></td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
<div class="center">
    <div class="puzzle" id="puzzle2-3">
    <h3>Challenge 3: The Gopher server</h3>

    Now it's time to check out some of the things on the lab network that you can interact with.
    <p>
    Have you ever heard of <a href="https://www.howtogeek.com/661871/the-web-before-the-web-a-look-back-at-gopher/">a protocol named Gopher</a>?
    It was created by some very famous people, <a href="https://www.w3.org/People/Berners-Lee/">including Sir Tim Berners-Lee</a> at
    <a href="https://home.cern/">CERN in Switzerland</a>.
    <p>
    Try to log in to another host now to run Gopher. 
    
    <ol>
    <li>Use the command <em>&quot;ssh -XK -l sly node0&quot;</em> to access node0. </li>
    <li>Become the root user by typing the command &quot;ksu&quot;. Your prompt should change to  a hash mark.</li>
    <li>Search for the gopher client package &quot;apt-cache search gopher&quot; and install it.</li>
    <li>Type exit to change back to your regular user. Use the Gopher client to access &quot;gopher://www.bitsmasher.net&quot;</li>
    </ol>
    <p>
    <form action="/submission" method="get">
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Puzzle</th>
                <th>Flag</th>
            </tr>
            <tr>
                <td>June 09, 2025</td>
                <td>Puzzle2 <input type="hidden" name="puzzle" value="puzzle2-3"></td>                
                <td>Flag: <input type="text" name="flag" placeholder="probably-wrong"></td>
            </tr>
        </table>
        <input type="submit" value="Submit">
    </form>
    </div>
</div>
<div class="center">
    <div class="puzzle" id="puzzle2-4">
    <h3>Challenge 4: The Time Server (NTP)</h3>
    Having a precise source of time is crucial in a network like ours where computers must work together in a &quot;tightly-coupled&quot; fashion.
    Software builds, log correlation, cluster message passing and more all rely on a stable and accurate source of time.
    <p>
    <ol>
    <li>Use the &quot;ntpq&quot; command to view the source of time for the host you are on, node0. HINT: You might need to look at the flags for the command.</li>
    <li>You sould be able to see the name of the time server in the output of the ntpq command.</li>
    <li>Use &quot;nslookup&quot; or &quot;whois&quot; to determine the IPv4 address of the NTP server.</li>
    <li>Run the file &quot;check_ip&quot; in your home directory to check your answer.</li>
    </ol>
    <p>
    <form action="/submission" method="get">
        <table border="1">
            <tr>
                <th>Date</th>
                <th>Puzzle</th>
                <th>Flag</th>
            </tr>
            <tr>
                <td>June 09, 2025</td>
                <td>Puzzle2 <input type="hidden" name="puzzle" value="puzzle2-4"></td>                
                <td>Flag: <input type="text" name="flag" placeholder="probably-wrong"></td>
            </tr>
        </table>
        <input type="submit" value="Submit">
        </form>
    </div>
</div>

{{template "footer"}}

</body>
</html>

{{end}}

<!--
{
    "name": "puzzle2",
    "location": "https://games.bitsmasher.net/puzzle2",
    "flag": "there totally is one! really!"
}
-->

