{{define "scoreboardPage"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <meta name="description" content= "games.bitsmasher.net login">
    <meta name="author" content="thedevilsvoice">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <meta name="keywords" content="HTML, CSS, GoLang">
    <meta name="robots" content= "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <title>Scoreboard</title>
    <link rel="stylesheet" href= "/static/games/css/games-navigation.css">
</head>

<body>
    <div class="header" id="header">
        <img src="/static/games/images/wargames.png" alt="shall we play a game"><br />
    </div>
    <p>&nbsp;<p>&nbsp;<p>

    <table style="width:100%">
        <tr>
            <th style="width:15%"></th>
            <th style="width:85%"></th>
        </tr>
        <tr>
            <td>{{template "navigation"}}</td>
            <td>
                <img src="/static/games/images/confused.jpg">
            </td>
        </tr>
    </table>

    {{template "footer"}}
    </div>

</body>
</html>
{{end}}