{{define "WelcomePage"}}

{{template "header"}}

<body>

Welcome to the party. 

<div class="center">
    <img src="/static/games/images/seal.jpg" alt="what are you looking at">
</div>

{{template "footer"}}

</body>
</html>
{{end}}