    [Unit]
    Description=website - www.bitsmasher.net
    After=network.target

    [Service]
    User=franklin
    Group=engr
    WorkingDirectory=/home/franklin/workspace/website
    ExecStart=/usr/local/go/bin/go run /home/franklin/workspace/website/cmd/www/main.go
    Restart=always

    [Install]
    WantedBy=multi-user.target
