{{define "navigation"}}

<div class="navigation" id="navigation">
    <center>
        <ul>
            <li><a href="/">home</a></li>

            <li><a href="/lab">lab</a></li>
            <li><a href="/minecraft">minecraft</a></li>
            <li><a href="/resume">resume</a></li>
            <li><a href="https://github.com/devsecfranklin/ISMG-2050">ISMG 2050</a></li>
        </ul>
        <p><a href="/login"><img src="/static/games/images/login-button.png" height="55" width="146"></a></p>
    </center>
</div>

{{end}}
