export APP_NAME="MyCustomApp"
export ENV_NAMESPACE="go-viper"
export ENV_APP_PORT=9090

export TEXMFHOME="${HOME}/texmf"

export PKG_PATH="https://cdn.openbsd.org/pub/OpenBSD/7.5/packages/amd64/"
export DEBIAN_FRONTEND="noninteractive"
# export PATH="/mnt/clusterfs/build/bin:${PATH}"

export PATH="${PATH}:${HOME}/go/bin:/usr/local/go/bin:node_modules/.bin"

############### Autotools ###############
export AUTOCONF_VERSION=2.71
export AUTOMAKE_VERSION=1.16
export GNUPGHOME="${HOME}/.gnupg"

############### Golang ###############
export GOPATH=${HOME}/go
export GOROOT=/usr/local/go
export PATH=$PATH:$GOPATH
export PATH=$PATH:$GOROOT/bin
