export PATH="${PATH}:node_modules/.bin"

############### Autotools ###############
export AUTOCONF_VERSION=2.71
export AUTOMAKE_VERSION=1.16
export GNUPGHOME="${HOME}/.gnupg"

############### Golang ###############
export GOPATH=${HOME}/go
export GOROOT=/usr/local/go
export PATH=$PATH:$GOPATH
export PATH=$PATH:$GOROOT/bin

############### Twitch ###############
export TWITCH_TOKEN="lofw6r2zdb0jldxuggesbk2zhrvb0u"
export TWITCH_CLIENT_ID="sgqa5hmcak4h9sjyoljqk1dtty3x38"
export TMI_TOKEN="ymp1rr5t6pf2od3ztq3mpo17gtvee7"

