export PATH="${PATH}:node_modules/.bin"

############### Autotools ###############
export AUTOCONF_VERSION=2.71
export AUTOMAKE_VERSION=1.16
export GNUPGHOME="${HOME}/.gnupg"

############### Golang ###############
export GOPATH=${HOME}/go
export GOROOT=/usr/local/go
export PATH=$PATH:$GOPATH
export PATH=$PATH:$GOROOT/bin
