static/lab/devices/tplink-tl-sx8003f/*.tar.gz filter=lfs diff=lfs merge=lfs -text
static/lab/devices/tplink-tl-sx8003f/Omada_SDN_Controller_v5.15.6.7_linux_x64.tar.gz filter=lfs diff=lfs merge=lfs -text
