# web dev stuff
*.html~
*.js~
*.php~
node_modules/

# autotools
_build
AUTHORS
COPYING
ChangeLog
INSTALL
NEWS
README
aclocal.m4
autom4te.cache
compile
confdefs.h
conftest.c
conftest.err
config.guess
config.log
config.status
config.sub
config/
configure
configure~
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
