/*
# SPDX-FileCopyrightText: © 2020-2025 franklin <franklin@bitsmasher.net>
#
# SPDX-License-Identifier: MIT
*/

body {
    /* background-image: url('/web/static/images/background_dead.png'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    background-color: black;
    color: #D3D3D3;
    margin: 20px;
}

form {
    background-color: black;
    padding: 20px;
    border-radius: 8px;
    max-width: 1500px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.br img {
    position: absolute;
    right: 0px;
    bottom: 0px;
}