{{define "indexPage"}}

{{template "header"}}

<body>

<h1>lab.bitsmasher.net</h1>

<p>npub1lm0tuyv08q2m3z68ygyj8n2l70z9qs3ncmhynljaep7x2reqztqqhq5etf</p>

<h2>Network Status</h2>

{{template "footer"}}

</body>
</html>
{{end}}
