{{define "indexPage"}}

{{template "header"}}

<body>

<h1>lab.bitsmasher.net</h1>

<h2>Auth Details</h2>

<h3>nostr<h3>
<p>
thedevilsvoice nostr public key: npub1lm0tuyv08q2m3z68ygyj8n2l70z9qs3ncmhynljaep7x2reqztqqhq5etf<br />
franklin nostr public key:</br>
</p>

<h3>GNuPG</h3>

<pre>
-----BEGIN PGP PUBLIC KEY BLOCK-----

mDMEaQ6f8RYJKwYBBAHaRw8BAQdAaxXJDBP3Tw8wKsiOB4OKxNkDJGgWhEZ5LSgy
llUSR/y0LnRoZWRldmlsc3ZvaWNlIDx0aGVkZXZpbHN2b2ljZUBiaXRzbWFzaGVy
Lm5ldD6IlgQTFgoAPhYhBJ+7V9CnOAXki8wfZ/UYxANMrDHCBQJpDp/xAhsDBQkB
4TOABQsJCAcCBhUKCQgLAgQWAgMBAh4BAheAAAoJEPUYxANMrDHCXSwBAML0zhXZ
vdnnWtGIYNnlEJdGBEttMT6ur/S4drvmGf1uAQDIZxYDRGi4St5+PXeguTJ8360W
gCcFw5VAS1HwvBFRCLg4BGkOn/ESCisGAQQBl1UBBQEBB0CTxDuY5xHNlqAJyT5Q
D2uML86sySvoCKePexliJWaKTAMBCAeIfgQYFgoAJhYhBJ+7V9CnOAXki8wfZ/UY
xANMrDHCBQJpDp/xAhsMBQkB4TOAAAoJEPUYxANMrDHC2iwA/A76EA/zHmIcUZnm
k3VjT86JcthlEbCtt6beqxhomK82AQDJPw8TUFVFAWgbOP9MhCOSu2rFhkIY9jWo
+yCOVAZTCA==
=1+Uv
-----END PGP PUBLIC KEY BLOCK-----
</pre>

<h2>Network Status</h2>

{{template "footer"}}

</body>
</html>
{{end}}
