{{define "lgPage"}}

{{template "header"}}

<body>

<a href="https://gitlab.com/xonotic/xonotic">Xonotic</a><br />
Overcooked 2<br />
Don't Starve Together<br />
Left4Dead, Left4Dead2<br />
https://veloren.net/<br />
https://play0ad.com/<br />
https://supertuxkart.net/Main_Page<br />
https://www.wesnoth.org/<br />
https://store.steampowered.com/app/384960/Vengeance/<br />

{{template "footer"}}

</body>
</html>

{{end}}

