{{define "mcPage"}}

<!DOCTYPE html>
<html>

<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/dark.css" />
</head>

<body>

<ol>
<li>We have been running a server continuously since about 2012 and had fun mining and building many interesting things.</li>
<li>Note that this is a survival server, not a creative server.</li>
<li>Please don't waste time begging for admins to toggle your gamemode.</li>


<h1>mods</h1>

<h2>Automodpack</h2>

<p>/amp is an alias for /automodpack.</p>

<table>
<tr><td>Command</td><td>description</td></tr>
<tr><td>/automodpack</td><td>Status of automodpack and general help</td></tr>
<tr><td>/automodpack generate</td><td>Generate modpack</td></tr>
<tr><td>/automodpack host</td><td>Status of modpack hosting</td></tr>
<tr><td>/automodpack host start</td><td>Start modpack hosting</td></tr>
<tr><td>/automodpack host stop</td><td>Stop modpack hosting</td></tr>
<tr><td>/automodpack host restart</td><td>Restart modpack hosting</td></tr>
<tr><td>/automodpack host connections</td><td>Lists all currently active modpack host connections</td></tr>
<tr><td>/automodpack host fingerprint</td><td>Get the certificate fingerprint of the modpack host</td></tr>
<tr><td>/automodpack config reload</td><td>Reload config files</td></tr>
</table>

<h2>Botania</h2>

Botania is a mod centered around generating and harnessing the magical energy produced by mystical flowers. Botania's documentation book, the Lexica Botania, displays crafting recipes and explains nearly everything about Botania in-game.<br />

<h2>Modnomicon</h2>

<p>
This is <a href="https://github.com/klikli-dev/modonomicon">Data-driven minecraft in-game documentation with progress visualization</a>
</p>

<h2>Occultism</h2>

The first goal is to obtain the Dictionary of Spirits, an in-game guide with information about all spirits,
rituals and pentacles, as well as an in-depth getting started guide.<br />
Demon's Dream seeds are seeds used to grow the Demon's Dream fruits. They are a rare drop from grass, similar to vanilla Wheat seeds.<br />

<ol>
<li>Obtain Demon's Dream Seeds by breaking grass. Keep one and plant a few others.</li>
<li>Combine the seeds with a book to create the dictionary</li>
<li>Read the Getting Started section of the book to learn about the Third Eye, Demon's Dream, and Spiritfire</li>
<li>Make a stick of Chalk, clear out some floor space, and start drawing some Pentacles</li>
<li>Conduct your first ritual and meet a demon</li>
</ol>

<h2>Thermal Series</h2>

Thermal Innovation<br />

<h1>AI stuff</h1>

{{template "footer"}}

</body>
</html>
{{end}}
