{{define "mcPage"}}

<!DOCTYPE html>
<html>

<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/lab/css/dark.css" />
</head>

<body>

<h1>Server map</h1>

<a href="/static/lab/minecraft/map/index.html">Check out this cool map.</a>

<h1>How to Play</h1>

<ol>
<li>Install the Minecraft Launcher as usual for your OS</li>
<li>Download the <a href ="https://files.minecraftforge.net/net/minecraftforge/forge/index_1.20.1.html">Forge Client 1.20.1-47.4.10</a> and install it.</li>
<li>Install the forge client you just downloaded.</li>
<li>Download this file to your computer. </li>
<li>Windows: save to &quot;%APPDATA%\minecraft\mods&quot;<br />
Linux: save to &quot;~/.minecraft/mods&quot;<br />
</ol>

<h2>COFH</h2>

The team COFH mod provieds quick access to commands in chat. 
<br />
Type &quot; /cofh &quot; to access the commands.

{{template "footer"}}

</body>
</html>
{{end}}
