{{ define "civ2Page" }}

<!DOCTYPE html>
<html lang="en-US">

<head>
<title>{{.Title}}</title>
<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>

<body>


{{template "footer"}}

  </body>
</html>
{{end}}


