{{ define "civ2Page" }}

<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
  <title>{{.Title}}</title>

  <style>
    html { color-scheme: light dark; }
    body { width: 35em; margin: 0 auto;
    font-family: Tahoma, Verdana, Arial, sans-serif; }
  </style>
</head>

<body>

<div class="center">
<img src="https://games.bitsmasher.net/web/static/images/civ2/civilization-ii-pc-papsleeve.jpg" width="65%" height="65%" alt="civ2 game cover">
</div> 

<div>
  <ol>
    <li><a href="https://civilization.2k.com/civ-ii/">Game Page</a></li>
    <li><a href="https://appdb.winehq.org/objectManager.php?sClass=application&iId=444">Sid Meier's Civilization II</a> page at Wine HQ.</li>
    <li>Excellent Civ ][ page at the <a href="https://civfanatics.com/civ2/">Civilization Fanatics Center</a></li>
    <li><a href="https://github.com/devsecfranklin/civilization2">My personal civ ][ files</a></li>
  </ol>
</div>

{{template "footer"}}

  </body>
</html>
{{end}}