{{define "correctPage"}}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>wrong answer headquarters</title>
    <link rel="stylesheet" type="text/css" href="/web/static/css/submission.css" />
  </head>

  <body>

    <div class="container">
      <audio controls autoplay>
        <source src="https://games.bitsmasher.net/web/static/success-trumpets.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
    </div>
  

    <div class="container">
    For {{ .Puzzle }} you submitted {{ .Flag }} which is just plain WRONG lol. Let the struggle continue!!.
    </div>

{{template "footer"}}

  </body>
</html>
{{end}}
