{{define "dstPage"}}

<!DOCTYPE html>
<html lang="en">

<head>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <meta name="description" content= "Don't Starve Together">
    <meta name="author" content="thedevilsvoice">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <meta name="keywords" content="HTML, CSS, GoLang">
    <meta name="robots" content= "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <title>{{.Title}}</title>

    <style>
        html {
            color-scheme: light dark;
        }

        body {
            width: 35em;
            margin: 0 auto;
            font-family: Tahoma, Verdana, Arial, sans-serif;
        }
    </style>
</head>

<body>
    <div class="dontstarve">
<p>To play on the &quot;Dont Starve Together&quot; start the game on Steam, then look for the server named &quot;wonderland&quot;</p>

<p>
    mod list:

    <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=345692228"> minimap HUD</a>  345692228 <br />
    <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1185229307"> Epic Health Bar </a> 1185229307 <br />
    </div>
</p>

{{template "footer"}}

</body>
</html>
{{end}}
