{{define "footer"}}
<div id="footer">
<footer>
  <center>
[ <a href="/">home</a> ] [ <a href="/puzzle1">puzzle1</a> ] [ <a href="https://games.bitsmasher.net/web/static/minecraft/index.html">minecraft</a> ] [ <a href="/dst">dont starve</a> ] [ <a href="https://games.bitsmasher.net/web/static/civilization2.html">civ 2</a> ] <br />
  <small><small><small>
  <em>Copyright © 2025 bitsmasher.net. All Rights Reserved.</em>
  </small></small></small>
  </center>
</footer>
</div>
{{end}}
