{{define "indexPage"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/submission.css" />
</head>

<body>
    <p><em>would you like to play a game?</em></p>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>Puzzle</th>
            <th>Difficulty</th>
        </tr>
        <tr>
            <td>05/30/2025</td>
            <td> <a href="/puzzle1">Puzzle number one</a> </td>
            <td>easy</td>
        </tr>
    </table>

    <br />
    <br />
    <br />


<a href="https://games.bitsmasher.net/minecraft">Minecraft</a><br />
<a href="https://games.bitsmasher.net/dst">Don't Starve Together</a><br />
<a href="https://games.bitsmasher.net/web/static/civilization2.html">Civilization ][</a><br />
<a href="https://games.bitsmasher.net/web/static/linux_games.html">Linux Games</a><br />

{{template "footer"}}

</body>
</html>
{{end}}

