{{define "indexPage"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/submission.css" />
</head>

<body>
    <p><em>would you like to play a game?</em></p>

    <table border="1">
        <tr>
            <th>Date</th>
            <th>Puzzle</th>
        </tr>
        <tr>
            <td>05/30/2025</td>
            <td> <a href="/puzzle1">Puzzle number one</a> </td>
        </tr>
    </table>

    <br />
    <br />
    <br />

    <div class="submit_box"></div>
    <table border="1">
        <tr>
            <td>
                <form action="/submission" method="get">
                    Puzzle: <select name="puzzle" id="puzzle">
                        <option value="puzzle1">puzzle 1</option>
                    </select>
            <td>
                Flag: <input type="text" name="flag" placeholder="probably-wrong" />
            </td>
            <td><input type="submit" value="Submit" /></td>
            </form>
            </td>
        </tr>
    </table>
    </div>
    <br />
    <br />

<a href="https://games.bitsmasher.net/minecraft">Minecraft</a><br />
<a href="https://games.bitsmasher.net/dst">Don't Starve Together</a><br />

</body>
</html>
{{end}}
