{{define "lgPage"}}
<!DOCTYPE html>
<html lang="en-US">

<head>

<meta name="generator" content=
"HTML Tidy for HTML5 for Linux version 5.6.0">
<title>games.bitsmasher.net</title>

<style>
html { color-scheme: light dark; }
body { width: 35em; margin: 0 auto;
font-family: Tahoma, Verdana, Arial, sans-serif; }
</style>
</head>

<body>
<a href="https://gitlab.com/xonotic/xonotic">Xonotic</a> Overcooked
2 Don't Starve Together Left4Dead, Left4Dead2 https://veloren.net/
https://play0ad.com/ https://supertuxkart.net/Main_Page
https://www.wesnoth.org/
https://store.steampowered.com/app/384960/Vengeance/

{{template "footer"}}

</body>
</html>
{{end}}

