{{define "lgPage"}}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content= "width=device-width, initial-scale=1.0">
    <meta name="description" content= "games.bitsmasher.net CTF style puzzle">
    <meta name="author" content="thedevilsvoice">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <meta name="keywords" content="HTML, CSS, GoLang">
    <meta name="robots" content= "follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <title>{{.Title}}</title>
    <style>
        html { color-scheme: light dark; }
        body { width: 35em; margin: 0 auto;
        font-family: Tahoma, Verdana, Arial, sans-serif; }
    </style>
</head>

<body>

<a href="https://gitlab.com/xonotic/xonotic">Xonotic</a>
Overcooked 2
Don't Starve Together
Left4Dead, Left4Dead2
https://veloren.net/
https://play0ad.com/
https://supertuxkart.net/Main_Page
https://www.wesnoth.org/
https://store.steampowered.com/app/384960/Vengeance/

{{template "footer"}}

</body>
</html>

{{end}}

