{{define "mcPage"}}

<!DOCTYPE html>
<html>

<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/submission.css" />
</head>

<body>
    <div class="dontstarve">
<p>To play on the &quot;Dont Starve Together&quot; start the game on Steam, then look for the server named &quot;wonderland&quot;</p>

<p>
    mod list:

    <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=345692228"> minimap HUD</a>  345692228 <br />
    <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=1185229307"> Epic Health Bar </a> 1185229307 <br />
    </div>

</body>
</html>
{{end}}
