{{define "mcPage"}}

<!DOCTYPE html>
<html>

<head>
    <meta name="generator" content="HTML Tidy for HTML5 for Linux version 5.6.0">
    <meta name="orcid" content="https://orcid.org/0000-0003-4586-8500">
    <title>{{.Title}}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/puzzle.css" />
</head>

<body>

<ol>
<li>We have been running a server continuously since about 2012 and had fun mining and building many interesting things.</li>
<li>Note that this is a survival server, not a creative server.</li>
<li>Please don't waste time begging for admins to toggle your gamemode.</li>

	<div class="footer">
		Copyright © 2010-2025 All Rights Reserved.<br />
	</div>

</body>
</html>
{{end}}
