{{define "puzzle4Page"}}

<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="games.bitsmasher.net CTF style puzzle">
    <meta name="author" content="thedevilsvoice">
    <meta name="keywords" content="HTML, CSS, GoLang">
    <meta name="robots" content="follow, index, max-snippet:-1, max-video-preview:-1, max-image-preview:large">
    <title>{{.Title}}</title>
    <link rel="stylesheet" href="https://games.bitsmasher.net/web/static/css/puzzle.css">
</head>

<body>

git hub basics

{{template "footer"}}

</body>
</html>
{{ end }} 

<!--
{
    "name": "puzzle4",
    "location": "https://games.bitsmasher.net/puzzle4",
    "flag": "there totally is one! really!"
}
-->
