{{define "puzzle3Page"}}

{{template "header"}}

<body>

<h1>Not that kind of security</h1> <br />

    <div class="puzzle">

        <h2>Puzzle Three</h2>

        gnupg 
        keybase.io 
        pass and keychains


        find the nodes
        run commands with clush
        ollama on head2 - library https://ollama.com/library
        ollama pull llama2-uncensored



    </div>

{{template "footer"}}

</body>
</html>

{{end}}

<!--
{
    "name": "puzzle3",
    "location": "https://games.bitsmasher.net/puzzle3",
    "flag": "there totally is one! really!"
}
-->
