{{define "puzzle4Page"}}

{{template "header"}}

<body>

    <div class="puzzle">
        <div class="center">
            <h2>Time to log in to the Network</h2> <br />
            <img src="https://games.bitsmasher.net/web/static/images/archie1.jpg" alt="Made with vi on an IBM 8088"><br />
            <em>“Indeed, the safest road to Hell is the gradual one—the gentle slope, soft underfoot, without sudden turnings, without milestones, without signposts.” – C. S. Lewis</em> <br />
        </div>
   </div>

    <h3>Download git repository</h3>


    <div class="puzzle">
        <div class="center">
            <form action="/submission" method="get">
                <table border="1">
                    
                    <tr>
                        <th>Date</th>
                        <th>Puzzle</th>
                        <th>Flag</th>
                    </tr>

                    <tr>
                        <td>May 23, 2025</td>
                        <td>Puzzle2 <input type="hidden" name="puzzle" value="puzzle2-3"></td>                
                        <td>Flag: <input type="text" name="flag" placeholder="probably-wrong"></td>
                    </tr>

                </table>

                <input type="submit" value="Submit">

            </form>
        </div>
    </div>

{{template "footer"}}

</body>
</html>
{{ end }} 

<!--
{
    "name": "puzzle4",
    "location": "https://games.bitsmasher.net/puzzle4",
    "flag": "there totally is one! really!"
}
-->
