{{define "puzzle3Page"}}

{{template "header"}}

<body>

    <em></em>
    <br />
    <div class="puzzle">
        <center>
        <h2>Puzzle Three</h2>


{{template "footer"}}

</body>
</html>
{{end}}

<!--
{
    "name": "puzzle3",
    "location": "https://games.bitsmasher.net/puzzle3",
    "flag": "there totally is one! really!"
}
-->
